@tailwind base;
@tailwind components;
@tailwind utilities;

/* brand section start */
.brand_section{
    padding: 0 2.5rem 0 2.5rem;
}
.brand_ttl{
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand_ttl a{
    color: rgb(118, 120, 137);;
    font-weight: 600;
    font-size: 1.25rem;
}
.brand_slider_container{
    padding-bottom:  2.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow-x:auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.brand_element{
    padding-right: 11.4%;
}

/* brand section end */